---
to: src/components/<%= name%>/<%= name%>.tsx
---
import React, {FC} from 'react';
import './<%= name%>.css'

interface I<%= name%>Props {
}

const <%= name%>: FC<I<%= name%>Props> = () => {
    return <div className={s.page}>content</div>;
};

export default <%= name%>;



